/* src/App.css */

body, html, #root {
  height: 100%;
  margin: 0;
}

.app {
  position: relative;
  z-index: 2; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  position: fixed; /* Fixes the header at the top of the screen */
  top: 0; /* Aligns it to the top */
  left: 0;
  width: 100%; /* Makes the header span the full width of the viewport */
  background-color: #f3a3c4; /* Dark background color */
  color: #ffffff; /* White text color */
  display: flex; /* Flexbox for alignment */
  justify-content: space-around; /* Distributes space evenly */
  align-items: center; /* Vertically centers content */
  padding: 10px 20px; /* Padding around the content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 1000; /* Ensures the header is above other content */
  font-family: 'Arial', sans-serif; /* Font family for the text */
}

.header h2 {
  margin: 0; /* Removes default margin */
  font-size: 18px; /* Adjusts font size */
  font-weight: normal; /* Normal font weight */
}

.rectangle {
  width: 70%;
  height: 70%;
  display: flex;
}

.left-side {
  background-color: rgba(243, 229, 27, 0.381);
  width: 60%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.right-side {
  background-color: rgb(232, 187, 38);
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(50% - 20px); /* Adjust width to fit 4 boxes */
}

.box-image {
  width: 50px;
  height: auto;
}

.count-input {
  width: 50px;
  text-align: center;
  border: 2px solid gray;
  padding: 5px;
}

.feedback {
  font-size: 20px;
  width: 30px;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

/* Adjusted fish animation and positioning for dynamic placement */
.fish {
  position: absolute;
  max-width: 10%;
  animation: swim 15s linear infinite;
}

@keyframes swim {
  0% {
    transform: translateY(0) translateX(100%);
  }
  50% {
    transform: translateY(-20px) translateX(50%);
  }
  100% {
    transform: translateY(0) translateX(-100%);
  }
}

/* Specific fish animations can be kept or overridden by inline styles */
.fish-1 {
  animation-duration: 18s;
}

.fish-2 {
  animation-duration: 14s;
}

.fish-3 {
  animation-duration: 20s;
}

.fish-4 {
  animation-duration: 22s;
}

.fish-5 {
  animation-duration: 16s;
}

.fish-6 {
  animation-duration: 24s;
}

.fish-7 {
  animation-duration: 26s;
}

.fish-8 {
  animation-duration: 28s;
}
